

.c-style{
    background-color: rgba(134, 155, 163, 0.43);
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: rgb(232, 234, 236) 0px 0px 6px;
    
    
   
}

form{
    border-radius: 1%;
    
}

